.vscode-test/**
.vscode/**
.agents/**
src/**
**/*.ts
**/*.map
**/*.tsbuildinfo
.gitignore
.gitattributes
.prettierrc
eslint.config.mjs
**/tsconfig.json
**/tsconfig.base.json
contributing.md
vsc-extension-quickstart.md